{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{placelist.placename}}
    </div>
    {{> list-locations}}
    {{> add-location}}
  </div>
  <div class="column">
    {{> placelist-image }}
  </div>
</section>