
  <form action="/dashboard/addplacelist" method="POST">
    <div class="field">
      <label class="label">Place List</label>
      <input class="input" type="text" placeholder="Enter Place List name" name="placelistname">
    </div>
    <button class="button is-link">Add Place List</button>
  </form>
